img.ballard {
  text-align: left;
  height: 400px;
  width: 600px;
}
.container {
  background-image: url("../img/wc.jpg");
}

.jumbotron {
  background-image: url("../img/piano.jpg");
}

img.philly {
  height: 400px;
  width: 600px;
  text-align: center;
}

h3 {
  font-size: 44px;
  text-align: center;
  color:  #08ffbb;
}

h1.panel {
  text-align: center;
  font-family: cursive;
  font-size: 58px;
}

h2 {
  color:  white;
  text-align: center;
  font-size: 68px;
  font-family: cursive;
}

.boxmodel {
  text-align: center;
  float: right;
  margin: 18px;
  border: 8px solid black;
  padding: 8px;
  background-image: url("../img/wc.jpg">)
}

img.florida {
  height: 400px;
  width: 600px;
  text-align: left;
}

.panel {
  text-align: left;
  font-size: 24px;
  margin: 8px;
  font-family: cursive;
  padding: 2px;
  background-color: white;
  border: 8px solid black;
}
.well {
  color: white;
  background-image: url("../img/jazz.jpg");
}
