img.philly {
  height: 400px;
  width: 600px;
}

.jumbotron {
  background-color: #0000aa;
  background-image: url("../img/piano.jpg");
  text-align: center;
}

h1.panel panel-primary {
  text-align: center;
  font-family: fantasy;
  font-size: 58px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 68px;
  font-family: cursive;
}

.boxmodel {
  text-align: center;
  float: right;
  margin: 18px;
  border: 8px solid black;
  padding: 8px;
  background-color: #00ff00;
}

img.philly {
  height: 400px;
  width: 600px;
}

img.florida {
  height: 400px;
  width: 600px;
}

.panel {
  text-align: left;
  font-size: 24px;
  margin: 18px;
  font-family: cursive;
  padding: 8px;
  background-color: #00ff00;
  border: 8px solid black;
  background-image: image("../img/piano.jpg");
}
